services:
  app:
    build: .
    ports:
      - "5173:5173"
      - "5000:5000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - MONGODB_URI=${MONGODB_URI}
      - VITE_GA_MEASUREMENT_ID=${VITE_GA_MEASUREMENT_ID}
    env_file:
      - .env
